# Virtuelle Umgebungen
venv/
app/venv/

# Environment-Files mit Secrets
.env
app/config.env

# Logs & Daten (werden extern gemountet)
app/logs/
app/data/

# Python Cache & Temp
__pycache__/
*.pyc
*.swp

# IDE & Git selbst
.vscode/
.git/
.DS_Store
